<div class="main-container">
    <div class="input-container">
        <label for="empresa" class="text-label">Nome da empresa:</label>
        <input type="text" id="empresa" [(ngModel)]="empresa" name="empresa" required placeholder=" " (ngModelChange)="pesquisar()"/>
    </div>
    <div class="input-container">
        <label for="colaborador" class="text-label">Pesquisar por colaborador:</label>
        <input type="text" name="colaborador" id="colaborador" [(ngModel)]="colaborador" required placeholder=" " (ngModelChange)="pesquisar()"/>
    </div>
    <div class="botoes-cadastro">
        <button class="btn" (click)="navegarParaCadastroEmpresa()">Cadastrar Empresa</button>
        <button class="btn" (click)="navegarParaCadastroColaborador()">Cadastrar Colaborador</button>
        <button class="btn" (click)="navegarParaEditarColaborador()">Editar Colaborador</button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Empresa</td>
                    <td>Colaborador</td>
                    <td>Ocupação</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let colaborador of colaboradores"
                (click)="selecionarColaborador(colaborador)"
                [class.selected]="colaborador === colaboradorSelecionado">
                    <td>{{colaborador.id}}</td>
                    <td>{{colaborador.empresa}}</td>
                    <td>{{colaborador.nome}}</td>
                    <td>{{colaborador.ocupacao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


