@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root { --primary-color: #0056b3; 
    --secondary-color: #05468b; 
    --background: #ffffff; 
    --background-com-opacidade: rgba(255, 255, 255, 0.6); --label-color: #001325; 
    --black: #000000; 
    --white: #ffffff;
    --red: #DC143C;
    --red-hover: #dd0a35;
    --green: #009200;
    --green-hover: #007700;
}

.alert {
    display: none;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #ff2400; 
    color: #ffffff; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    text-align: center;
    animation: fadeinout 5s; 
  }
  
  @keyframes fadeinout {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  

.cabecalho {
    color: var(--white);
    background-color: rgb(39,118,201);
    background: linear-gradient(90deg, rgba(39,118,201,1) 11%, rgba(0,36,74,1) 70%);
    padding: 10px;
    display: flex;
}

.btnVoltar {
    padding: 10px;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.btnExcluir {
    padding: 10px;
    color: var(--white);
    background-color: var(--red);
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.btnExcluir:hover {
    background-color: var(--red-hover);
}

.btnComum {
    padding: 10px;
    color: var(--black);
    background-color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}