@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary-color: #0056b3;
    --secondary-color: #05468b;
    --background: #ffffff;
    --background-com-opacidade: rgba(255, 255, 255, 0.6);
    --label-color: #001325;
    --black: #000000;
    --button-select: #39c23e; 
    --button-select-hover: #2da831;
}


